{% extends "global/Page.html" %}

{{ block styles }}
<style>
    body {
        background-color: #EDE7DC;
        margin: 0;
        padding: 0;
        height: 100%
    }
    
    .centered-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        font-family: 'Segoe UI', sans-serif;
        color: #333;
        width: 90%;
        max-width: 600px;
        padding: 1rem;
    }
    
    .centered-container h2 {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
    }

    .continue-btn {
        background-color: #3c797d;
        color: white;
        border: none;
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 1rem;
    }

    .continue-btn:hover {
        background-color: #3b665a;
    }

</style>
{{ endblock }}

{% block PageContent %}
<div class="centered-container">
    <h2>End of main task</h2>
    <p>
        You have now completed all trials of the main task.
    </p>

    <p>
        Now we will go to the questionnaire.
    </p>


    <p>
        Please click the button below.
    </p>

    <button class="continue-btn">Continue to questionnaire</button>
</div>

{% endblock %}
