{% extends "global/Page.html" %}

{% block PageContent %}

<div class="center-msg">
    <h2>End of questionnaire</h2>
    <p>
        You have now finished the experiment.
    </p>

    <p>
        One of your trials has been randomly selected to determine your bonus payment. 
        Your bonus consists of:
    </p>

    <ul style="text-align: left, max-width: 600px; margin: 0 auto;">
        <li><b>Monetary reward:</b> £{{ bonus }}</li>
        <li><b>Environmental reward:</b> {{ trees }} tree(s) will be planted in {{ country }}.</li>

    </ul>

    <p>
        Please click the button below to go back to Prolific.
    </p>

    <button class="continue-btn">Back to Prolific</button>
</div>

{% endblock %}

{{ block styles }}
<style>
    body {
        background-color: #EDE7DC;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    .center-msg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        font-family: 'Segoe UI', sans-serif;
        color: #333;
        width: 90%;
        max-width: 600px;
        padding: 1rem;

    }

    .center-msg h2 {
        font-size: 1.8em; /* slightly bigger by default*/
    }

    .center-msg ul {
        text-align: left;
        max-width: 600px;
        margin: 0 auto;
    }

    .continue-btn {
        background-color: #3c797d;
        color: white;
        border: none;
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 1rem;
    }

    .continue-btn:hover {
        background-color: #3b665a;
    }
</style>
{{ endblock }}