{% extends "global/Page.html" %}

{% block PageContent %}

<div class="center-msg">
    <h2>End of questionnaire</h2>
    <p>
        You have now finished the experiment.
    </p>

    <p>
        One of your trials has been randomly selected to determine your bonus payment. 
        Your bonus consists of:
    </p>

    <ul style="text-align: left, max-width: 600px, margin: 0 auto;">
        <li><b>Monetary reward:</b> £{{ bonus }}</li>
        <li><b>Environmental reward:</b> {{ trees }} tree(s) will be planted.</li>

    </ul>

    <p>
        Please click the button below to go back to Prolific.
    </p>

    <button class="continue-btn">Back to Prolific</button>
</div>

{% endblock %}